@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  z-index: -2;
}
/******************* HOME ********************/
.home {
  background-color: #141414;
}

/******************* Header *********************/
header {
  position: relative;
  z-index: 1;
}
.header {
  background-position: center center;
  background-size: cover;
  z-index: 0;
  padding: 0 4%;
  padding-top: 10px;
  height: 60vh;
  position: relative;
  width: 92%;
}
@media screen and (min-width: 768px) {
  .header {
    height: 65vh;
  }
}
@media screen and (max-width: 680px) {
  .header {
    height: 30vh;
  }
  .description {
    top: 66px;
    font-size: 1.6vw !important;
  }
}

.header .header-logo a {
  font-size: 2vw !important;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  margin-right: 25px;

  color: #e50914;
  cursor: pointer;
}
.header-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-nav a {
  text-decoration: none;
  white-space: nowrap;

  color: #fff;
  cursor: pointer;
  margin-left: 18px;
}
.first-nav {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
}
.header-nav {
  color: #fff;
  display: contents;
}
.browse {
  margin: 0px;
  position: relative;
  display: flex;
  align-items: center;
}
.browse svg {
  font-size: 16px;
}
@media screen and (max-width: 883px) {
  .header-nav a {
    display: none;
  }
}
@media screen and (min-width: 882px) {
  .header-nav .browse {
    display: none;
  }
}

.second-nav {
  display: flex;
  align-items: center;
}
.second-nav div {
  margin-right: 15px;
}
.second-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
}
@media screen and (max-width: 1100px) {
  .second-nav a {
    display: none;
  }
}

.header-search {
  color: #fff;

  font-size: 21px;
  cursor: pointer;
}
.bell {
  color: #fff;

  font-size: 21px;
  cursor: pointer;
}
.caret {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
}
@media screen and (max-width: 950px) {
  .caret {
    display: none;
  }
}

.user-logo img {
  border-radius: 4px;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  cursor: pointer;
}
.browse-open {
  background-color: RGBA(0, 0, 11, 0.9);
  position: absolute;
  width: 220px;
  top: 50px;
  left: 15px;
  z-index: 5;
}
.browse-open ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.browse-open ul li {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.browse-open ul :hover {
  background-color: RGBA(28, 28, 28, 0.4);
}
.browse-open ul li a {
  display: block;
  font-size: 16px;
}
.caret-open {
  background-color: RGBA(0, 0, 11, 0.9);
  color: #fff;
  position: absolute;
  width: 190px;
  top: 60px;
  right: 45px;
  margin-right: 0px !important;
}
.caret-open ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  font-size: 15px;
}
.caret-open ul li {
  margin-bottom: 10px;
}
.caret-open ul li img {
  object-fit: cover;
  border-radius: 4px;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  padding-left: 10px;
}

.caret-open ul li svg {
  width: 32px;
  font-size: 23px;
}
.li-svg {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 10px;
}
.li-svg p {
  margin: 0px;
  margin-left: 5px;
}
.li-breack {
  height: 1px;
  background: #454444;
}

.li-signout {
  text-align: center;
  margin-bottom: 0px !important;
}
.li-signout p {
  margin: 0px;
}

.description {
  position: absolute;
  bottom: 210px;
  max-width: 30%;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.description-title {
  color: #fff;
}
.overview {
  color: #fff;
}
.header button {
  padding: 0px 40px;
  border-radius: 6px;
  border: none;
}
.play {
  margin-right: 7px;
  font-size: 1.2vw;
  cursor: pointer;
}
.info {
  font-size: 1.2vw;
  cursor: pointer;
  color: #fff;
  background-color: rgba(109, 109, 110, 0.7);
  white-space: nowrap;
}
.info svg {
  font-size: 2.3vw;
}
.buttons {
  display: flex;
  flex-wrap: nowrap;
}
.buttons svg {
  margin-right: 5px;
}
.buttons text {
  text-overflow: ellipsis;
}
.buttons button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*--------------------- Card--------------------------------*/
.card-container {
  display: flex;
  flex-direction: column;
  color: #fff;

  position: relative;

  z-index: 4;
  width: 100%;
}

.card-container ::-webkit-scrollbar {
  -webkit-appearance: none;
}

.card-title {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0px;
  padding-left: 18px;
}

.card-images {
  display: flex;
  align-items: center;
  overflow-x: visible;
  overflow-y: hidden;
  width: 98%;
  padding: 0.5rem 0;
  padding-left: 10px;
}
.card-image {
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;

  max-width: 23vw;
  max-height: 13vw;
}
/* transform: translate3d(-100%, 0, 0); */
.card-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.home-container {
  margin-top: -180px;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 75%,
    rgba(0, 0, 0, 0) 20%
  );
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* slider background
hsla(0,0%,8%,.5)*/
.caret-left {
  position: absolute;
  z-index: 5;
  font-size: 20px;
  top: 46%;
  left: 0;
}
.caret-right {
  position: absolute;
  z-index: 5;
  font-size: 20px;
  top: 46%;
  right: 0;
}
